@import "variables.scss";

@mixin titulos($size, $weight) {
	font-size: $size;
	font-weight:$weight;

}

.bold{
	@include titulos (1rem, $fBold);
}

/*---------HEADER NAVS-------------*/
.header{
		height: 90px;
		background: map-get($paletaColores, amarillo);
		position: fixed;
		width: 100%;
		z-index: 100;
		box-shadow: 0 2px 2px lightgray;

		img{
			margin: auto;
			max-height: 90px;

		}

		.botonMobile{

			padding-right: 10px;
			color: black;
		}


}

.botonera a{
background: map-get($paletaColores, amarillo);
text-decoration: none;
padding: 20px;
letter-spacing: 0.5px;
font-size: 1.2rem;
color: black;
	&:hover{
	background-color:lightyellow;
	border-bottom: solid 5px map-get($paletaColores, rojo);
	}
}
/*--------CARRUSEL DE IMAGENES-----------*/
.carruselImagenes{
	margin-top: 80px;
	width: 100%;
	background-size: cover;
	background-position: center;
}


/*---------PRESENTANDO PRODUCTOS----------*/

.presentacionDeProductos{
	text-align: center;
	background-color: map-get($paletaColores, rosa);
	box-sizing: border-box;
	padding: 10px;
	h2{
		@include titulos(3rem,$fRegular);
		@media only screen and (min-width: 480px) and (max-width: 728px) {
		@include titulos(1.5rem, $fRegular);}
		@media only screen and (max-width: 480px) {
		@include titulos(1rem, $fRegular);}
	}
}

.center{
	height:100%;
	width:100%;
	display: flex;
	flex-direction:row;
	align-items: center;
}


.contenedorProductos {
	margin: auto;
	padding: 20px;
}

/*-----------------CONTENEDOR DE SERVICIOS--------------------*/

.contenedorSeccion{
	width: 100%;
	height: 400px;
	overflow: hidden;
}

.bannerIdSeccion{
	width: 1100px;
	position: relative;
	margin: 0 auto;

}

.solapaContenedor2{
	position: absolute;
	width: 300px;
	height: 300px;
	background: #f7f7f7e3;

}

/*----subArticulos----*/

.picSeccion{
	position: relative;
	height: 350px;
	width: 	350px;
	overflow: hidden;
	box-shadow: 0px 15px 25px
	rgba(0, 	0, 	0, 	0.50);
	cursor: pointer;
		img{
			width: 100%;
			height: 100%;}
			&:hover .picDescription{
				transform: scale(1);
			}
	}

	.picDescription{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 	0, 	0, 	0.50);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform: scale(0);
	transition: .3s ease;
		a{
			text-decoration: none;
			color: #fff;
		}
}

.tituloSize{
	font-size: 25px;
}







/*----------------CONTACTO----------------*/
.contactTitle {
  padding: 10px;
  background: map-get($paletaColores, violeta);
  text-align: center;
  h2{
		@include titulos(3rem,$fRegular);
		@media only screen and (min-width: 480px) and (max-width: 728px) {
		@include titulos(1.5rem, $fRegular);}
		@media only screen and (max-width: 480px) {
		@include titulos(1rem, $fRegular);}
	}
}


.mapaUbicacion {
  width: 600px;
}

/*-------- FORMULARIO ---------------*/
.formData {
	width: 600px;
	input{
		border: 3px solid;
		width: 100%;
		padding: 0.4em;
		margin-top: 5px;
		border-radius: 10px;
		font-family:$fuente !important;}
	 textarea{
	 	resize: none;
		border: 3px solid;
		width: 100%;
		height: 300px;
		margin-top: 5px;
		padding: 1em;
		border-radius: 10px;
		font-family: $fuente;}
}

.btnsForm{
	color: #340e62;
	background: #fff;
}

.send{
	background: #D2B4DE;
}

/*----------------SERVICIOS------------------*/

.serviciosExtras{
	padding: 10px;
  background: map-get($paletaColores, azul);
  text-align: center;
  h2{
		@include titulos(3rem,$fRegular);
		@media only screen and (min-width: 480px) and (max-width: 728px) {
		@include titulos(1.5rem, $fRegular);}
		@media only screen and (max-width: 480px) {
		@include titulos(1rem, $fRegular);}
	}
}


.btnNewsletter{
	font-family: Josefin, sans-serif;
	border-radius: 0px;
	border: none;
	padding: 10px;
	width: 100%;
	height: 100%;
	font-weight: $fBold;
	color: #fff;
	background: map-get($paletaColores, rojo);

}

.btnEmail{
	background-color: white;
	cursor: auto;
	padding: 10px;
	border: solid 1px map-get($paletaColores, rojo);
	width: 100%;
	height: 100%;
	&:focus{
		color: black;
    background-color: #fff;
    border-color: teal;
    outline: 0;
	}

}

.tituloNewsletter{
	font-size: 1.2rem;
}

/*-------BOTON WHATSAPP--------*/

.botonDeAccion img{
	width: 70px;
	position: fixed;
	bottom: 10px;
	right: 10px;
}


/*--------FOOTER---------*/

.footer{
	background: #ffcc66;
	display: flex;
	justify-content: space-around;
	a{
		text-decoration: none;
	}
}

.botoneraFooter{
	display: flex;
	justify-content: space-around;

}

.botoneraContainer{
	padding: 10px;


}
/*-----------------BOTON VER MAS--------------------*/


.botonVerMas{
	border: none;
	font-weight: $fBold;
	font-size: 1.5em;
	padding: 8px 22px;
	border-radius: 5px;
	border-bottom: solid 3px map-get($paletaColores , rojo);
	cursor: pointer;
	background-size: cover;
	transition:1s;
	background-image: linear-gradient(to left,map-get($paletaColores , rosa),map-get($paletaColores , rojo));
		&:hover{
			background-image: linear-gradient(to left,map-get($paletaColores , rosa),map-get($paletaColores , rosa));
			transform: translatey(3px);}
			a {
				color: white;
				text-decoration: none;}
}



.uppercase{
	text-transform: uppercase;
}


/*-------GENERALES--------*/




body{
  font-family: 'Josefin', sans-serif;
  font-weight: 400;
	background-image: url(../media/tiny-squares.png);
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

ul{
	list-style: none;
}

a{
	text-decoration: none;
	color:black;
}


/*----- PAGINAS DEL FOOTER-------*/

.pagesFooter{
	padding-top: 150px;
	padding-bottom: 150px;

	.scrollspy-PD{
		position: relative;
		height: 400px;
		margin-top: .5rem;
		overflow: auto;
	}
}

#pagesFooter input{
		padding: 5px;
		margin-bottom: 6px;
}

.pagesFooter__pDenvios{

}

.pagesFooter__pDenvios--titulo{
	color: $texto;
	background: map-get($paletaColores, gris);
	text-align: center;
	font-weight: $fBold;
}

.fondoGris{
	background: map-get($paletaColores, gris);
}

.containerFooterNewsletter{
	width: 100%;
}

.containerRedes{
}

.redes{
	color: #000;
	font-size: 30px;
	a{
		font-family: $fuente;
	}
}

/*--GALERIAS DE FOTOS--*/

.galeriaProductos{
  margin-left: auto;
  margin-right: auto;

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/*-- PRESUPUESTOS---*/

.fondoAzul{
 background: map-get($paletaColores, azul) ;
}

.fondoRojo{
	background: map-get($paletaColores, rojo);
	.rojo{
		color: map-get($paletaColores, rojo);
	}

}
